

.lead{
    text-align: center;
}

.details_form{
    padding: 0rem 15rem; 
}


.dest_details{
    padding: 0rem 15rem;
}

.submitbutton{
    width: 100%;
}

#staging{
    text-align: center;
}

#card_stage{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}